<div>
    <div ng-show="status === 201">
        <p translate>Thank you for verifying your account. You may now log in.</p>
    </div>

    <div ng-show="status === 403">
        <p translate>You have already verified your account. Please log in.</p>
    </div>

    <div ng-show="status === 404 || invalid">
        <p translate>There was a problem with your verification code. Please request a new one using the form below.</p>

        <form verification-resend ng-submit="resend()"></form>
    </div>
</div>
