<div class="alert alert-success" ng-if="email">
    <p translate>We've sent an email to {{ email }} containing a link to change your password.</p>
</div>

<div class="form-group" ng-class="{'has-error': errors.email}">
    <label for="email" ng-if="fields.email.label">{{ fields.email.label }}</label>
    <input type="email" ng-model="data.email" class="form-control" id="email" autofocus>
    <div class="help-block" ng-if="errors.email" ng-bind="errors.email"></div>
    <div class="help-block" ng-if="errors.detail" ng-bind="errors.detail"></div>
    <div class="help-block" ng-if="errors.non_field_errors" ng-bind="errors.non_field_errors"></div>
</div>

<button type="submit" class="btn btn-default" translate>Reset password</button>
