<div form-field="fields.email">
    <input type="email" ng-model="user.email" maxlength="{{ fields.email.max_length }}" placeholder="{{ fields.email.label }}">
</div>

<div form-field="fields.password">
    <input type="password" ng-model="user.password" placeholder="{{ fields.password.label }}">
</div>

<div form-field="fields.password2">
    <input type="password" ng-model="user.password2" placeholder="{{ fields.password2.label }}">
</div>

<div form-field="fields.name">
    <input type="text" ng-model="user.name" maxlength="{{ fields.name.max_length }}" placeholder="{{ fields.name.label }}">
</div>

<div form-field="fields.location">
    <input type="text" ng-model="user.location" maxlength="{{ fields.location.max_length }}" placeholder="{{ fields.location.label }}">
</div>

<div form-field="fields.telephone">
    <input type="tel" ng-model="user.telephone" maxlength="{{ fields.telephone.max_length }}" placeholder="{{ fields.telephone.label }}">
</div>

<div class="form-actions">
    <button type="submit">Register</button>
</div>
